wheel==0.45.1
# Don't upgrade past this version as 70.x.x does not work
setuptools==70.1.1

html-testRunner==1.2.1
mypy==1.15.0
types-cffi==1.16.0.20250318

py2app==0.28.8

codeallybasic==1.10.0

PyGithub==2.6.1
todoist_api_python==2.1.7
wxPython==4.2.2

